<div class="container mt-5 mb-5">
  <header class="block__header">
    <blockquote class="quote__header">
      <p class="quote__text"> A Passionate Student and A Happy Teacher
      </p>
    </blockquote>
  </header>
  <div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img src="../../assets/images/frq-trans.png" alt="A happy, smiling customer" />
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Hi! I am Farooq! I am a passionate and pragmatic software engineer more than 10 years of professional
          experience and I've taught over many people how to code or how to become professional software engineers
          through my YouTube channel and Online courses. I have Mastered in Computers and Technology. My mission is to
          make coding and software engineering accessible to everyone through courses that are simple to digest, and
          practical to implement.
        </p>
        <footer>
          <div class="media">
            <div class="media__body">
              <h3 class="media__title quote__author">MD. Farooq</h3>
              <p class="quote__organization" style="margin-bottom: 0;">Software Engineer</p>
              <p class="quote__organization">Industry Expert and Trainer</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</div>