<div class="container">
  <section class="block container block-domain">
    <header class="block__header">
      <h2>PAID COURSES FOR FREE</h2>
      <p style="font-weight: normal;">
        Learn Technologies in a Simple and Clear Language.
      </p>
    </header>
  </section>
  <div *ngIf="loading" class="d-flex justify-content-center">
    <div class="spinner-border" style="width: 6rem; height: 6rem" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div *ngIf="!loading" id="courses">
    <div class="grid grid--1X2 grid--1X3 grid--1X4" style="margin-bottom: 3rem">
      <div *ngFor="let course of courses | sort: 'id'" class="plan plan--popular" style="margin: 0.5rem">
        <div (click)="gotoCourse(course)" [ngClass]="{ 'card--enabled': course.button_enabled }"
          class="card card--secondary">
          <img src="./../../assets/images/{{ course.img_name }}" />
          <div class="card__body">
            <h4>
              {{ course.name }}
            </h4>
            <p style="color: #918ca4 !important">
              {{ course.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>