<div class="flex--row">
  <div *ngFor="let courses of coursesDetails" class="section">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0"
      style="width: 100%; box-shadow: 0px 6px 20px rgb(32 39 45 / 15%)">
      <a style="font-size: 1.8rem; font-weight: 700" href="/"
        class="d-flex flex-shrink-0 p-4 link-dark text-decoration-none">
        {{ courses.course_name }}
      </a>
      <div class="list-group list-group-flush border-bottom scrollarea">
        <div *ngFor="let course of courses.topics; let i = index;" class="list">
          <a style="border-right: 0; cursor: crosshair" class="list-group-item list-group-item-action py-3 lh-tight"
            aria-current="true">
            <div style="font-size: 1.5rem; font-weight: 600"
              class="d-flex w-100 align-items-center justify-content-between">
              <p class="mb-1">{{ course.topic_id }}- {{ course.topic_name }}</p>
            </div>
          </a>
          <div *ngFor="let lesson of course.lesson; let j = index;" class="lesson">
            <a (click)="onClick(lesson.youtube_url, lesson.lesson_name)" style="border: 0; cursor: pointer"
              class="list-group-item list-group-item-action py-3 lh-tight"
              [ngClass]="{'highlight': selectedLesson === lesson.lesson_name}">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <p style="font-size: 1.5rem; margin-left: 1.2rem" class="mb-1">
                  {{ lesson.lesson_name }}
                </p>
                <small>{{ lesson.lesson_duration }}</small>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%">
    <nav style="border: 1px solid lightgrey; background: #fff; padding: 1rem" class="navbar navbar-light">
      <div class="container-fluid">
        <a [routerLink]="['/courses']" style="font-size: 2rem; font-weight: 500" class="navbar-brand">Courses</a>
      </div>
    </nav>
    <div class="d-flex justify-content-center">
      <div *ngIf="loading" class="spinner-border" style="width: 6rem; height: 6rem" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <p class="highlight tagline">
      {{this.selectedLesson.toUpperCase()}}
    </p>
    <iframe *ngIf="!empty_course && !loading" class="video__control" [src]="youtubeUrl | safe" frameborder="0"
      allowfullscreen></iframe>
  </div>
</div>