<div class="icon-bar">
  <a href="https://www.facebook.com/codewithfarooq/" class="facebook"
    ><i class="fa fa-facebook"></i
  ></a>
  <a href="https://medium.com/@codewithfarooq" class="medium"
    ><i class="fa fa-medium"></i
  ></a>
  <a href="https://www.linkedin.com/company/codewithfarooq" class="linkedin"
    ><i class="fa fa-linkedin"></i
  ></a>
  <a
    href="https://www.youtube.com/channel/UCr4-U6TfQ1mbWzmYoM4iKTw"
    class="youtube"
    ><i class="fa fa-youtube"></i
  ></a>
  <a href="https://github.com/faroooq" class="github"
    ><i class="fa fa-github"></i
  ></a>
  <a href="https://chat.whatsapp.com/EAbDgGzLJS92CpapXsJ0Q7" class="whatsapp"
    ><i class="fa fa-whatsapp"></i
  ></a>
</div>
